<h1>Welcome To ParkTrack!</h1>
<h2>National Parks</h2>
<%= render partial: "./park_index", locals: {arr: @parks} %>
<h2>Species</h2>
<%= render partial: "./species_index", locals: {arr: @species} %>


