<% if arr != nil && arr != "" %>
    <ul>
        <% arr.each do |item| %>
            <li><%= link_to item.name, park_path(item) %></li>
        <% end %>
    </ul>
<% else %>
    <li> Nothing yet! </li>
<% end %>